@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --color1: #309ee3;
    --color2: #1f3b91;
}

html, body {
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: -webkit-gradient(linear, right top, left bottom, from(var(--color1)), to(var(--color2))) fixed;
}

#login-panel {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    text-align: center;
    background-color: rgba(0, 0, 0, .25);
    padding: 1rem;
    border-radius: .25rem;
}

h3 { color: white; font-weight: normal; }

input {
    width: 90%;
    border: none;
    padding: .5rem;
    margin: .5rem 0;
    border-radius: .25rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

input:focus { outline: none }

button {
    background-color: var(--color1);
    border:none;
    padding:.5rem;
    margin: .5rem 0;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border-radius: .25rem;
}

.hide { visibility: hidden; display: none; }

header {
    position: fixed;
    top:0;
    width: 100%;
    padding: .25rem 1rem;
    background-color: var(--color2);
    text-align: center;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

header > i {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 3rem
}

section { margin-top: 5.5rem; }

#container {
    margin: .5rem 1rem;
    padding: .25rem 1rem;
    background-color: var(--color2);
    border-radius: .25rem;
}

ul > li {
    color: white;
}

#container > #grade-element { 
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}

.fas { 
    color: white; 
    position: absolute;
    transform: translateY(1.5rem);
}

::-webkit-scrollbar {
    width: .5rem;
}
  
::-webkit-scrollbar-track {
    background-color: var(--color1); 
}
   
::-webkit-scrollbar-thumb {
    background-color: var(--color2); 
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #122355; 
}

.onvoldoende { color: red }